@media (prefers-color-scheme: dark) {
	body {
		--codeBackgroundColor: #1e293b59;
		--highlightColor: #cdd5e2;
	}
}

@media (prefers-color-scheme: light) {
	body {
		--codeBackgroundColor: #b6babf60;
		--highlightColor: #031e49;
	}
}

body {
	--codeFontFamily: 'Ubuntu Mono';
}

.markdown-section pre>code {
	font-family: var(--codeFontFamily);
	font-size: 0.9em;
}

.markdown-section code {
	border-radius: 5px;
	padding: 0.4em 0.5em;
}