body {
	--codeFontFamily: 'Ubuntu Mono';
}

.markdown-section pre>code {
	font-family: var(--codeFontFamily);
	font-size: 0.9em;
}

.markdown-section code {
	border-radius: 5px;
	padding: 0.4em 0.5em;
}

.example-alert code {
	background-color: #7a987f8d;
	color: #1e291f;
}

.alert.flat.example-alert {
	background-color: #7a987f8d;
	color: #1e291f;
	border-color: #2c422f;
}

.alert.flat.usage-alert code {
	color: #1e291f;
}