body {
	--codeFontFamily: 'Ubuntu Mono';
}

.markdown-section pre>code {
	font-family: var(--codeFontFamily);
	font-size: 1em;
}

.markdown-section code {
	border-radius: 5px;
	padding: 0.4em 0.5em;
}

@media (prefers-color-scheme: light) {
  html {
    background-color: yellow;
  }
}